doctype html
head
	meta(charset='UTF-8')
	meta(http-equiv='X-UA-Compatible' content='IE=Edge')
	meta(name='description' content='')
	meta(name='keywords' content='')
	meta(name='author' content='Tooplate')
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
	title= `${title}`
	link(rel='stylesheet' href='css/bootstrap.min.css')
	link(rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
	link(rel='stylesheet' href='css/animate.css')
	link(rel='stylesheet' href='css/owl.carousel.css')
	link(rel='stylesheet' href='css/owl.theme.default.min.css')
	// MAIN CSS
	link(rel='stylesheet' href='css/tooplate-style.css')
// PRE LOADER
section.preloader
	.spinner
		span.spinner-rotate
// MENU
section.navbar.navbar-default.navbar-static-top(role='navigation')
	.container
		.navbar-header
			a.navbar-brand(href='#')
				i.fa.fa-heartbeat
				| Online Medicine Store
			// MENU LINKS
		.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li.appointment-btn
					a(href='./cart') Cart
				li.appointment-btn
					a(href='./fcontact') Find Contacts
				li.appointment-btn
					a(href='./login') Sign Out
		  
block content
		  
// FOOTER
.container
	.row.justify-content-md-center
		div(align='center')
			.footer-thumb
				h4.wow.fadeInUp(data-wow-delay='0.4s') Get medicines you need online, quick and easy!
		.col-md-12.col-sm-12.border-top
			div(align='center')
				.credits
					p Creator : Shilpi Char | Richa Gupta | Chaithanya Moozhickal

// SCRIPTS
script(src='js/jquery.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.sticky.js')
script(src='js/jquery.stellar.min.js')
script(src='js/wow.min.js')
script(src='js/smoothscroll.js')
script(src='js/owl.carousel.min.js')
script(src='js/custom.js')